  
  
  #Homepage{
    padding: 48px;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    scroll-behavior: smooth;
  }
  .leftSection{ 
   width: 72%;
  }

  .rightSection{ 
   width   : 25%;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
  }
  

  .singleSection{
    border          : 1px solid #BDBDBD;
    border-radius   : 20px;
    background-color: #FAF9F9;
    padding         : 32px;
    margin-top      : 24px;
  }

  .gap-8{
   gap: 32px;
  }

  .singleCard{
   border          : 1px solid #BDBDBD;
   border-radius   : 8px;
   padding         : 16px;
   background-color: white;
   flex-grow       : 1;
   max-width       : 200px;
   flex-basis      : 0;
  }

  .circle{
   height       : 17px;
   width        : 17px;
   border-radius: 50%;
   border       : 1px solid #BDBDBD;
   position     : absolute;
   top          : 12px;
   right        : 12px;
  }

  .singleCreator{
     border : 1px solid #D9D9D9;
     padding: 8px 16px;
     border-radius: 10px;
  }

  .Heading13M{
    font-size: 13px;
    font-weight: 500;
  }

  .Heading14R{
    font-size: 16px;
    font-weight: 500;
  }

  .Caption12R{
    font-size: 12px;
    font-weight: 400;
  }

  .Heading15R{
    font-size: 15px;
    font-weight: 400;
  }

  .Heading15M{
    font-size: 15px;
    font-weight: 500;
  }

  .Heading20M{
    font-size: 20px;
    font-weight: 500;
  }


  .Heading26M{
    font-size: 26px;
    font-weight: 500;
  }

  .Body14R{
    
  }
